
#about-section {
    p {
        max-width: 40%;
        margin: 0 auto;
        text-align: center;
        color: #626262;
    }
    .title {
        margin: 20px auto;
        font-size: 20px;
        font-weight: 500;
    }
    .subtitle {
        font-size: 18px;
        font-weight: 300;
    }
    .icon-wrapper {
        text-align: center;
        .mountain {
            width: 250px;
        }
    }
}