.down-button-section {
    height: 70px;
    text-align: center;
    .arrow-down {
        height: 30px;
        width: 30px;
        margin: 10px auto 0 auto;
        border-top: solid grey;
        border-right: solid grey;
        transform: rotate(135deg);
        &:hover {
            border-color: #b0b0b0;
            cursor: pointer;
        }
    }
}