.form__section {
    height: 500px;
    background: url("../images/footer-water.jpg") no-repeat center;
    background-size: cover;
    background-position: bottom;
    .form__section__wrapper {
        width: 100%;
        height: 100%;
        margin: 100px auto 0 auto;
        padding: 0 30%;
        .form__section__label {
            width: 100%;
            display: block;
            .form__section__input {
                width: 100%;
                display: block;
            }
            .form__section__textarea {
                width: 100%;
                display: block;
            }
        }
        .form__section__button {

        }
    }
}

@media (max-width: 767px) {
    .form__section {
        .form__section__wrapper {
            padding: 0 15%;
        }
    }
}