.form__section {
    height: 500px;
    background: url("../images/footer-water.jpg") no-repeat center;
    background-size: cover;
    background-position: bottom;
    .form__section__wrapper {
        width: 50%;
        height: 100%;
        margin: 0 auto;
        .form__section__label {
            width: 80%;
            display: block;
            .form__section__input {
                width: 80%;
                display: block;
            }
            .form__section__textarea {
                width: 80%;
                display: block;
            }
        }
        .form__section__button {

        }
    }
}